body::before {
    display: block;
    content: '';
    height: 60px;
  }
  
  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
}

body {
    /* font-family: 'Times New Roman', Times, serif; */
}

.card {
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 5%;
}

.heading {
    margin-top: 20px;
}

.img-fluid {
    border-radius: 1%;
}

.rounded-circle {
    height: 50px;
    width: 50px;
}

.main {
    width: auto;
    height: 400px;
    padding: 20px;
}

.title {
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 44px;
}

.main-video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contact-heading {
    margin-top: 10px;
    font-size: 32px;
}

.bottom-text {
    margin-bottom: 20px;
}

@media (max-width: 428px) {
    .title {
        font-size: 28px;
    }
}



