body::before {
    display: block;
    content: '';
    height: 60px;
  }
  
  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 5%;
}

.heading {
    margin-top: 20px;
}

.showcase {
    /* margin-top: 30px; */
}

.img-fluid {
    border-radius: 1%;
}

.rounded-circle {
    height: 50px;
    width: 50px;
}

.main {
    width: auto;
    height: 400px;
    padding: 20px;
}

.title {
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
}

/* .title2 {
    font-size: 32px;
} */


