body::before {
    display: block;
    content: '';
    height: 60px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    border-bottom: goldenrod double;
}

.nav-link {
    font-weight: bold;
}

.nav-link:hover {
    border-bottom: goldenrod double;
}

.card {
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 5%;
}

.decoration {
    width: 180px;
    height: 90px;
}

.heading {
    margin-top: 20px;
}

.img-fluid {
    border-radius: 1%;
}

.rounded-circle {
    height: 50px;
    width: 50px;
}

.main {
    width: auto;
    height: 400px;
    padding: 20px;
}

.main-video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
   
}

/* #map {
    height: 400px;
    width: 100%;
} */

.bottom-text {
    margin-bottom: 20px;
}

@media (max-width: 428px) {
    h2 {
        font-size: 34px;
    }
    .title {
        font-size: 28px;
    }
    .logo {
        width: 50px;
        height: 50px;
        border-radius: 5%;
    }
    .decoration {
        width: 100px;
        height: 50px;
    }
    /* .navbar-toggler {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 200px;
    } */
}



